.wrapper-3WhCwL {
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    color: #8ea1e1;
    background: rgba(114,137,218,.1);
    position: relative;
}